
<div class="container">
  <mat-form-field class="full-width">
    <input name="email" matInput placeholder="New password" [formControl]="RestPassword">
  
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <mat-error *ngIf="!RestPassword.valid && !RestPassword.getError('required')">
      Please enter a valid email address
    </mat-error>
<mat-error *ngIf="RestPassword.getError('required')">
      Email is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
<button type="submit" [disabled]="!RestPassword.valid" class="btn btn-primary " (click)="resetpassword()">Reset Password</button>
</div>