
mat-form-field{
    width:100%;
}

._headings{
    font-weight: bolder;
    font-size: large;
    padding: 25px;
}
.margin-top-101{
    margin-top:100px ;
}
a{
    text-decoration: none;
}

.margin-bottom-100{
    margin-bottom: 100px;
}