<mat-toolbar class="d-flex justify-content-between " color="primary">
  <mat-toolbar-row>
    <span>Nitro-Samurai</span>
    <button mat-button *ngIf="ui.showManager()" (click)='registerTeam()'>Register a team</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group id="top-nav" color="accent" disableRipple="true" backgroundColor="primary">
  <mat-tab label="Dashboard" disableRipple="true">
    <app-dashboard></app-dashboard>
  </mat-tab>
  <mat-tab label="My Team" disableRipple="true">
    <app-team-view></app-team-view>
  </mat-tab>
</mat-tab-group>

