<mat-toolbar class="d-flex justify-content-between " color="primary">
  <mat-toolbar-row>
    <span>Nitro-Samurai</span>
    <div>
        <button mat-button  (click)='logout()'>Logout</button>
        <button mat-button *ngIf="ui.showManager()" (click)='adminPanel()'>Admin Panel</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group id="top-nav" color="accent" disableRipple="true" backgroundColor="primary">
  <mat-tab label="Dashboard" disableRipple="true">
    <app-dashboard></app-dashboard>
  </mat-tab>
  <mat-tab label="My Team" disableRipple="true" *ngIf='cache.teams.length != 0'>
    <app-team-navigation></app-team-navigation>
    <app-team-view *ngIf='ui.getTeamSection() == "details"' [givenTeam]='this.cache.givenTeam' ></app-team-view>
    <app-sprint-details  *ngIf='ui.getTeamSection() == "sprint"'></app-sprint-details>
  </mat-tab>
</mat-tab-group>

