<button mat-raised-button color="primary" (click)='back()'>Back to Dashboard</button>

<div style="text-align: center;">
  <button class="btn butt" (click) = "setView('criteria')">Criteria</button>
  <button class="btn butt" (click) = "setView('review')">Review</button>
  <button class="btn butt" (click) = "setView('team')">Register Team</button>
</div>

<div *ngIf = "view == 'criteria'">
  <app-criteria></app-criteria>
</div>

<div *ngIf = "view == 'review'">
  <app-review></app-review>
</div>

<div class="team-registration" *ngIf = "view == 'team'">
 <app-team-registration></app-team-registration>
</div>