$nitro-blue: (
    50: #e8e7f7,
    100: #c8c5f3,
    200: #8880f3,
    300: #625ad1,
    400: #534BAE,
    500: #1A237E, 
    600: #131c73, 
    700: #0d155b,
    800: #07115b,
    900: #000051,
    A100: #625ad1,
    A200: #1A237E,
    A400: #131c73,
    A700: #000051,
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: $black-87-opacity,
      A200: white,
      A400: white,
      A700: white,
    )
  );