@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    margin:0px !important;
}

mat-ink-bar{
    height: 4px !important;
}

.mat-tab-label, .mat-tab-label-active{
    /* background: #1A237E !important; */
}

.mat-tab-links{
    display: flex;
    justify-content: center;
}


.mat-tab-label{
    min-width: 236px !important;
}