<div style = "height: 450px">
  <form class="form" [formGroup]="RegisterForm">

      <mat-form-field class="full-width">
          <input type = "text" matInput placeholder="Fullname" formControlName="nameFormControl" name ="nameFormControl"
                [errorStateMatcher]="nameMatcher">
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
          <mat-error *ngIf="!RegisterForm.get('nameFormControl').valid && !RegisterForm.get('nameFormControl').getError('required')">
            Please enter a <strong>valid</strong> name
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControl="emailFormControl" name="emailFormControl"
            [errorStateMatcher]="emailMatcher">
      
      <mat-error *ngIf="!RegisterForm.get('emailFormControl').valid && !RegisterForm.get('emailFormControl').getError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="RegisterForm.get('emailFormControl').getError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input type = "password" matInput placeholder="Password" formControlName="passwordFormControl" name=passwordFormControl
              [errorStateMatcher]="passMatcher">
        
        <mat-error *ngIf="!RegisterForm.get('passwordFormControl').valid && !RegisterForm.get('passwordFormControl').getError('required')">
          Please enter at least a <strong>8 digit</strong> password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
    </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-select  placeholder="Choose Role">
          <mat-option  *ngFor="let role of roles" [value]="role.viewValue">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>
      
      <button class = "signin button-width" mat-button>Signup</button>
      <!-- <button class = "button-width" mat-button><img class = "icon" src = "../../../assets/img/gbb.png" alt = "not found">GOOGLE SIGN IN</button> -->

  </form>
</div>