<div style = "height: 450px">
  <form class="form" [formGroup]= "loginForm" >
    
    <mat-form-field class="full-width">
      <input  matInput placeholder="Email" type="email" formControlName="emailFormControl" name="emailFormControl"
            [errorStateMatcher]="matcher" autocomplete="off">
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="loginForm.get('emailFormControl').getError('email') && !loginForm.get('emailFormControl').getError('required')">
        Please enter a valid email address
      </mat-error>
      
      <mat-error *ngIf="!loginForm.get('emailFormControl') && loginForm.get('emailFormControl').touched">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input  type = "password" matInput placeholder="Password"  formControlName="passwordFormControl" name="passwordFormControl"
              [errorStateMatcher]="passMatcher" autocomplete="off">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="!loginForm.get('passwordFormControl').valid && !loginForm.get('passwordFormControl').getError('required')">
          Please enter at least a <strong>8 digit</strong> password
        </mat-error>
        <mat-error *ngIf="loginForm.get('passwordFormControl').getError('required')">
          Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <br><br>
    <br><br>
   
    <button class = "signin button-width" [disabled]='!loginForm.valid' type="submit" mat-button (click)="login(loginForm.value)">Login</button>
    <button class = "button-width" mat-button (click)="googleLogin()"><img class = "icon" src = "../../../assets/img/gbb.png" alt = "not found">GOOGLE SIGN IN</button>


  </form>
</div>
