mat-card{
    width: 320px;
    height: 300px;
    border: 2px solid #FFD149;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;

}


h4{
    font-size: 48px !important;
    margin-top: 20px;
}


img{
    width: 70px;
    height:  70px;
}
.team-logo{
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.card-btn{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background-color: #fff;
    border: 3px solid #1A237E;
}



.submit-button{
    margin-top: 80px;
    width: 150px;
}

.submit-button:hover{
  opacity:0.6 ;
}

.submit-text{
    color: #fff !important;
}






