body{
    height:inherit;
    width: inherit;
    padding: 5px;
}

.background{
    background-image:  url("../../../assets/img/diagmonds.png");
    repeat: scroll 0% 0%;
}

.container_div{
    padding-top:5px;
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 10%; 
    background-color: white
}

.tab-group{
    display: flex;
    justify-content: center;
}

.mat-tab-label, .mat-tab-label-active{
    /* background: #1A237E !important; */
    width: 100%;
}

